{% extends 'base.html.twig' %}

{% block stylesheets %}
	{{ parent() }}
		<link href="{{ asset('bundles/pjplmaterial/css/main.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}

{% block jumbotron %}
	<h2>Zarządzanie materiałami</h2>
{% endblock %}

{% block navi %}
	<li><a href="{{path('homepage')}}">Strona główna <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span></a></li>
	<li><a href="{{path('material_grupa')}}" >Grupy</a></li>
	<li><a href="{{path('material_material')}}">Materiały</a></li>
	<li><a href="{{path('material_jm')}}" >Jednostki Miary</a></li>
{% endblock %}