{% extends 'base.html.twig' %}
{% block stylesheets %}
	{{ parent() }}
	<link href="{{ asset('bundles/pjplmaterial/css/main.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}

{% block navi %}
	<p>
		<a href="{{path('material_grupa')}}" class="btn btn-default">Grupy</a>
		<a href="{{path('material_material')}}" class="btn btn-default">Materiały</a>
		<a href="{{path('material_jm')}}" class="btn btn-default">Jednostki Miary</a>
	</p>
{% endblock %}
