{% extends 'PjplMaterialBundle::base.html.twig' %}

{% block body %}
	<h3>Edycja jednostki miary</h3>
	<a href="{{path('material_jm')}}" class="button"> Zarządzanie jednostkami miary</a>
	<hr>

	{% for flash_message in app.session.flashBag.get('info') %}
			<div class="flash-notice">
					{{ flash_message }}
			</div>
	{% endfor %}

	{{ form_start(form) }}
	{{ form_widget(form) }}
	{{ form_end(form) }}

{% endblock %}