{% extends 'base.html.twig' %}


{% block body %}

	<h2>Zarządzanie materiałami</h2>

	<a href="{{path('homepage')}}"> Strona główna</a>

	<p>
		<a href="{{path('material_grupa')}}">Grupy</a>
		<a href="{{path('material_material')}}">Materiały</a>
		<a href="{{path('material_jm')}}">Jm</a>
	</p>
	<p>
		<a href="{{path('material_jm_add')}}">Dodawanie jednostki miary</a>
		<a href="{{path('material_jm_edit')}}">Edycja jednostki miary</a>
	</p>
	<hr>
	{% include 'PjplMaterialBundle::jednostka-miary.html.twig' %}
{% endblock %}