{% extends 'PjplMaterialBundle::base.html.twig' %}


{% block body %}

	<h2>Zarządzanie jednostkami miary</h2>

	<a href="{{path('homepage')}}" class="button"> Strona główna</a>

	<p>
		<a href="{{path('material_grupa')}}" class="button">Grupy</a>
		<a href="{{path('material_material')}}" class="button">Materiały</a>
		<a href="{{path('material_jm')}}" class="button disable">Jednostki Miary</a>
	</p>
	<p>
		<a href="{{path('material_jm_add')}}" class="button">Dodawanie materiału</a>
		<a href="{{path('material_jm_list')}}" class="button">Edycja </a>
	</p>
	<hr>

	{% for flash_message in app.session.flashBag.get('info') %}
			<div class="flash-notice">
					{{ flash_message }}
			</div>
	{% endfor %}

	{% include 'PjplMaterialBundle::jednostka-miary.html.twig' %}
{% endblock %}