{% extends 'PjplMaterialBundle:JednostkaMiary:base.html.twig' %}

{% block navi %}
	{{ parent() }}
	<li><a href="{{path('material_jm_add')}}">Dodawanie materiału</a></li>
	<li class="active"><a href="{{path('material_jm_list')}}">Edycja </a></li>
{% endblock %}

{% block body %}
	<table class="table">
		<caption>Lista jednostek miary</caption>
		<thead>
			<tr>
				<th>
					Nazwa
				</th>
				<th>
					Skrót
				</th>
				<th>
				</th>
			</tr>
		</thead>
		<tbody>
			 {% for jm in jm_array %}
					<tr>
						<td>
							{{ jm.nazwa }}
							<a name="{{ 'jm'~jm.id }}"></a>
						</td>
						<td>{{ jm.skrot }}</td>
						<td><a href="{{ path('material_jm_edit', {'id' : jm.id}) }}" class="btn btn-primary">Edytuj</a></td>
						{% if ( delete_id is defined and delete_id == jm.id) %}
							<td>
								<a href="{{ path('material_jm_delete', {'id' : jm.id, 'confirm': true}) }}"
									 class="btn btn-danger"
								>
									Potwierdzam usunięcie
								</a>
							</td>
						{% else %}
							<td>
								<a href="{{ path('material_jm_delete', {'id' : jm.id}) }}#{{ 'jm'~jm.id }}"
									 class="btn btn-primary"
								>
									Usuń jednostkę
								</a>
							</td>
						{% endif %}
					</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}