{% extends 'PjplMaterialBundle:JednostkaMiary:base.html.twig' %}

{% block navi %}
	{{ parent() }}
	<li><a href="{{path('material_jm_add')}}">Dodawanie materiału</a></li>
	<li class="active"><a href="{{path('material_jm_list')}}">Edycja </a></li>
{% endblock %}

{% block body %}
	<table class="table">
		<caption>Lista jednostek miary</caption>
		<thead>
			<tr>
				<th>
					Nazwa
				</th>
				<th>
					Skrót
				</th>
				<th>
				</th>
			</tr>
		</thead>
		<tbody>
			 {% for jm in jm_array %}
					<tr>
						<td>{{ jm.nazwa }}</td>
						<td>{{ jm.skrot }}</td>
						<td><a href="{{ path('material_jm_edit', {'id' : jm.id}) }}" class="btn btn-primary">Edytuj</a></td>
					</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}