{% extends 'PjplMaterialBundle::base.html.twig' %}


{% block body %}

	<h2>Zarządzanie materiałami</h2>

	<a href="{{path('homepage')}}" class="button"> Strona główna</a>

	<p>
		<a href="{{path('material_grupa')}}" class="button">Grupy</a>
		<a href="{{path('material_material')}}" class="button disable">Materiały</a>
		<a href="{{path('material_jm')}}" class="button">Jm</a>
	</p>
	<p>
		<a href="{{path('material_material_add')}}" class="button">Dodawanie materiału</a>
		<a href="{{path('material_material_list')}}" class="button">Edycja materiału</a>
	</p>
	<hr>
	{% include 'PjplMaterialBundle::material.html.twig' %}
{% endblock %}