{% extends 'PjplMaterialBundle:Grupa:base.html.twig' %}

{% block navi %}
	<h3>Zmiana grupy materiałów</h3>
	<a href="{{path('material_grupa')}}" class="btn btn-default"> Zarządzanie grupami</a>
{% endblock %}


{% block body %}

	<div>
		<div class="panel-body">
		{{ form_start(form,  { 'attr': {'class': 'form '} }) }}
		{{ form_errors(form) }}
		<div class="form-group">
			{{ form_label(form.nazwa)}}
			{{ form_errors(form.nazwa,  { 'attr': {'class': 'form-control'} }) }}
			{{ form_widget(form.nazwa,  { 'attr': {'class': 'form-control'} }) }}
		</div>
		<div class="form-group">
			{{ form_label(form.parent)}}
			{{ form_errors(form.parent,  { 'attr': {'class': 'form-control'} }) }}
			{{ form_widget(form.parent,  { 'attr': {'class': 'form-control'} }) }}
		</div>
		<div class="form-group">
			{{ form_widget(form.zatwierdz,  { 'attr': {'class': 'btn btn-primary'} }) }}
			{{ form_widget(form.cancel,  { 'attr': {'class': 'btn btn-default'} }) }}
		</div>
		{{ form_end(form) }}
		</div>
	</div>

{% endblock %}