{% extends 'PjplMaterialBundle:Grupa:base.html.twig' %}

{% block navi %}
	{{ parent() }}
	<li><a href="{{path('material_grupa_add')}}">Dodawanie grupy materiałów</a></li>
	<li class="active"><a href="{{path('material_grupa_list')}}">Edycja grupy materiałów</a></li>
{% endblock %}


{% block body %}

	<div>
		<div class="panel-body">
		{{ form_start(form,  { 'attr': {'class': 'form form-inline'} }) }}
		{{ form_errors(form) }}
		<div class="form-group">
			{{ form_label(form.nazwa)}}
			{{ form_errors(form.nazwa,  { 'attr': {'class': 'form-control'} }) }}
			{{ form_widget(form.nazwa,  { 'attr': {'class': 'form-control'} }) }}
		</div>
		<div class="form-group">
			{{ form_widget(form.zatwierdz,  { 'attr': {'class': 'btn btn-primary'} }) }}
			{{ form_widget(form.cancel,  { 'attr': {'class': 'btn btn-default'} }) }}
		</div>
		{{ form_end(form) }}
		</div>
	</div>

{% endblock %}