{% extends 'PjplMaterialBundle:Grupa:base.html.twig' %}
{#
{% block navi %}
	<h3>Edycja grupy materiałowej</h3>
	<a href="{{path('material_jm')}}" class="btn btn-default"> Zarządzanie grupą materiałową</a>
{% endblock %}
#}

{% block navi %}
	{{ parent() }}
	<li><a href="{{path('material_grupa_add')}}">Dodawanie grupy materiałów</a></li>
	<li class="active"><a href="{{path('material_grupa_list')}}">Edycja grupy materiałów</a></li>
{% endblock %}


{% block body %}

<table class="table">
	<caption>Lista grup materiałowych</caption>
	<thead>
		<tr>
			<th>
				Nazwa
			</th>
			<th>
			</th>
		</tr>
	</thead>
	<tbody>
		 {% for grupa in grupa_array %}
        <tr>
					<td>{{ grupa.nazwa }}</td>

					<td><a href="{{ path('material_grupa_edit', {'id' : grupa.id}) }}" class="btn btn-primary">Edytuj</a></td>
					<td><a href="{{ path('material_grupa_change_parent', {'id' : grupa.id}) }}" class="btn btn-primary">Zmień grupę nadrzędną</a></td>
				</tr>
    {% endfor %}
	</tbody>
</table>
{% endblock %}